@use "../mixins/mini";
@use "../mixins/content";

.page-corporate-bank {
    .main-screen {
        background-image: url('../images/corporate-bank/main-screen/desktop.jpg');
        min-height: 1080px;

        .text {
            max-width: 940px;
        }
    }

    .design {
        background-color: var(--cs-bg-light-3);

        .section-title {
            max-width: inherit;
        }

        img {
            max-width: 788px;
        }

        .ready-banner {
            .btn-main {
                justify-content: center;
            }
        }
    }

    .approach {
        background-color: transparent;

        &__container {
            grid-template-columns: repeat(2, 1fr);
            gap: 56px;
        }
    }

    .steps {
        padding-block: 200px;

        .section-label,
        .section-title,
        .section-text {
            text-align: left;
        }

        .section-title {
            margin-top: 24px;
        }

        .section-text {
            max-width: 512px;
        }

        &__content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 50px;
        }

        &__container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 29px;
        }

        .item {
            background-color: var(--cs-bg-light-3);
            border-radius: 12px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            padding: 24px;

            span {
                position: relative;
                font-weight: 600;
                font-size: 21px;
                line-height: 150%;
                letter-spacing: -0.03em;
                color: var(--cs-text-3);
                padding-left: 28px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: var(--cs-brand-main);
                }
            }

            h3 {
                font-weight: 600;
                font-size: 28px;
                line-height: 150%;
                letter-spacing: -0.03em;
                color: var(--cs-text-3);
                margin-top: 24px;
                margin-bottom: 18px;
            }

            p {
                font-weight: 400;
                font-size: 21px;
                line-height: 150%;
                letter-spacing: -0.02em;
                color: var(--cs-text-4);
                margin-block: 0;
            }
        }
    }

    .process {
        background-color: transparent;

        &__container {
            margin-bottom: 0;
        }
    }

    .ready-banner {
        padding-top: 0;
    }
}
