@use "../mixins/mini";
@use "../mixins/content";
@use "../mixins/mobile-menu";

.header {
    background-color: var(--cs-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    cursor: default;
    padding: 29px 0;
    border-bottom: 1px solid #d5d8de;
    transition: all ease-in-out .4s;

    &__container {
        @include mini.flex-all-sb;
    }

    .logo-link {
        .logo {
            min-width: 139px;
            max-width: 262px;
        }
    }

    &__left {
        display: none;
    }

    .nav {
        ul {
            @include mini.flex-v-center;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            list-style: none;

            li {
                position: relative;
                a {
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 150%;
                    letter-spacing: -0.02em;
                    text-align: justify;
                    color: var(--cs-text-2);
                    transition: all ease-in-out .4s;

                    &:hover {
                        background: linear-gradient(135deg, #9278ff 0%, #4b28b1 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                }

                &.parent {
                    a {
                        position: relative;
                        padding-right: 30px;

                        &:hover {
                            &::after {
                                filter: brightness(0) saturate(100%) invert(24%) sepia(88%) saturate(2100%) hue-rotate(248deg) brightness(95%) contrast(95%);
                                transform: translateY(-50%) rotate(-180deg);
                            }
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            background-image: url('../images/icon/arrow.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            width: 18px;
                            height: 18px;
                            transition: all ease-in-out .4s;
                        }
                    }
                    ul {
                        min-width: 250px;
                        align-items: flex-start;
                        flex-direction: column;
                        position: absolute;
                        background-color: #f4f4f5;
                        padding: 14px 20px;
                        left: -20px;
                        transform: translateY(100px);
                        opacity: 0;
                        pointer-events: none;
                        transition: all ease-in-out .4s;

                        li {
                            margin-right: 0;

                            &:not(:first-child) {
                                margin-top: 30px;
                            }

                            a {
                                padding-right: 0;

                                &::after {
                                    content: none;
                                }
                            }
                        }
                    }

                    &:hover {
                        ul {
                            pointer-events: all;
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-right: 60px;
                }
            }
        }
    }

    &__right {
        @include mini.flex-v-center;
        gap: 20px;

        .btn-main {
            @include content.btn-main;
            border-radius: 30px;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            min-height: 62px;
            min-width: 184px
        }
    }

    // .languages {
    //     ul {
    //         border: 2px solid #E6E6E6;
    //         border-radius: 4px;
    //         width: 60px;
    //         height: 60px;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         padding-left: 0;
    //         margin-top: 0;
    //         margin-bottom: 0;
    //         list-style: none;
    //     }

    //     a {
    //         padding: 15px;
    //     }
    // }

    .mobile-menu {
        @include mobile-menu.mobile-menu;

        &__content {
            padding: 60px;
        }

        &__top {
            @include mini.flex-all-sb;
        }

        .nav {
            display: block;
            margin-top: 100px;
            margin-bottom: 60px;

            ul {
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;

                li.parent {
                    a {
                        font-size: 30px;
                    }
                    ul {
                        display: none;
                        position: static;
                        background-color: transparent;
                        padding: 0;
                        min-width: inherit;

                        li {
                            &:not(:first-child) {
                                margin-top: 15px;
                            }
                        }
                    }

                    &.active {
                        ul {
                            margin: 15px 0;

                            a {
                                font-size: 24px;
                            }
                        }
                    }
                }

                li {
                    a {
                        font-weight: 400;
                        line-height: 100%;
                    }

                    &:not(:last-child) {
                        margin-right: 0;
                    }
                }
            }
        }

        .header__right {
            .btn-main {
                font-weight: 700;
                border: 1px solid transparent;
                padding: 16px 27px;
                max-width: 220px;
            }
        }
    }
}

.header.active-scroll {
    padding: 20px 0;
    background-color: rgba(255,255,255, .98);
}
