@use "mini";
@use "content";
@use "breakpoint";

@mixin modal {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--cs-bg-light-3);
    border-radius: 24px;
    padding: 80px 30px;
    max-width: 624px;
    width: 95%;

    .graph-modal__contanet {
        @include mini.flex-v-center;
        flex-direction: column;
    }

    .graph-modal__close {
        @include mini.flex-all-center;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
    }

    .graph-modal__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: -0.03em;
        text-align: center;
        color: var(--cs-text-3);
        margin-top: 0;
        margin-bottom: 0;
    }

    .graph-modal__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        text-align: center;
        color: var(--cs-text-4);
        margin-top: 18px;
        margin-bottom: 40px;
    }

    .form {
        @include content.form;
    }

    &.modal-success {
        background-color: var(--cs-white);
        padding: 160px 30px 60px;

        img {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
        }

        .btn-main {
            @include mini.flex-all-center;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--cs-white);
            background: linear-gradient(135deg, #9278ff 0%, #4b28b1 100%);
            border-radius: 40px;
            transition: all ease-in-out .4s;
            padding: 13px 30px;
            max-width: fit-content;
            width: 100%;
            min-height: 60px;
            margin-inline: auto;
            max-width: 240px;
            cursor: pointer;

            &:hover {
                background: linear-gradient(135deg, #7156e1 0%, #281461 100%);
            }
        }

        .graph-modal {
            &__text {
                font-size: 18px;
            }
        }
    }

    @include breakpoint.mobile {
        padding: 80px 13px;

        .graph-modal__container {
            margin: 20px auto;
        }

        .graph-modal__title {
            font-size: 26px;
            max-width: 260px;
            margin-inline: auto;
        }

        .graph-modal__text {
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 30px;
            max-width: 260px;
            margin-inline: auto;
        }

        .form {
            &__input {
                font-size: 16px;
                padding: 17px 20px;
            }
        }

        .btn-main {
            margin-top: 30px;
        }

        &.modal-success {
            padding: 160px 13px 80px;

            img {
                top: 40px;
            }

            .graph-modal {
                &__title,
                &__text {
                    max-width: inherit;
                }

                &__text {
                    font-size: 16px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}
