<div class="page-404">
    <section class="section section-error">
        <div class="wrapper">
            <div class="section-error__container">
                <img src="./error.gif" alt="error anim gif">
                <h2 class="section-title">
                    Oops!<br>
                    Page not found
                </h2>
                <p class="section-text">
                    This page doesn’t exist or has been removed. We suggest going back to the Home page.
                </p>
                <a href="/" class="btn-reset btn-main">
                    Back to  Home
                </a>
            </div>
        </div>
    </section>
</div>
