<div class="page-about-us">
    <section class="main-screen">
        <div class="wrapper">
            <div class="main-screen__container">
                <div class="main-screen__left">
                    <h1 class="title">
                        The BrokerSetup Story
                    </h1>
                    <p class="text">
                        From Vision to Execution — Our Legacy in the Making
                    </p>
                    <a href="#" class="btn-reset btn-main">
                        Start your Brokerage
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section about-company">
        <div class="wrapper">
            <div class="about-company__top">
                <div class="title-wrap">
                    <span class="section-label">
                        ABOUT US
                    </span>
                    <h2 class="section-title">
                        About the company
                    </h2>
                </div>
                <p>
                    Learn more about the company and the team behind it.
                </p>
            </div>
            <div class="about-company__container">
                <img src="./images/about-us/company/main.jpg" alt="About the company">
                <div class="content">
                    <h3 class="title">
                        Your Strategic Partner in Building Global Forex & Offshore Structures
                    </h3>
                    <p>
                        We understand that starting a brokerage business is a serious and complex process. It’s crucial to clearly see every stage, understand the timelines, resources, and risks — so you don’t waste extra money, time, or energy.
                        <br>
                        <br>
                        With our extensive experience, we’ve helped many clients build their businesses from scratch and avoid critical mistakes. With us, you gain transparency, a clear action plan, and a confident start.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section services">
        <div class="wrapper">
            <span class="section-label">
                WHAT WE OFFER
            </span>
            <h2 class="section-title">
                we build your brokerage from the ground up
            </h2>
            <p class="section-text">
                Explore what’s possible with BrokerSetup
            </p>
            <div class="services__container">
                <div class="service">
                    <img src="./images/about-us/offer/1.jpg" alt="Helping you launch your brand with confidence">
                    <h4 class="service-label">Business & Brand Launch</h4>
                    <h3>Helping you launch your brand with confidence</h3>
                    <ul class="list-reset">
                        <li>
                            Roadmap tailored to your goals
                        </li>
                        <li>
                            Unique company naming & domain
                        </li>
                        <li>
                            Custom logo & brand identity
                        </li>
                        <li>
                            Secure corporate email setup
                        </li>
                        <li>
                            Brandbook and branded merchandise
                        </li>
                    </ul>
                </div>
                <div class="service">
                    <img src="./images/about-us/offer/2.jpg" alt="Your complete digital brokerage operations hub">
                    <h4 class="service-label">Website & Client Experience</h4>
                    <h3>Your complete digital brokerage operations hub</h3>
                    <ul class="list-reset">
                        <li>
                            High-converting, responsive forex website
                        </li>
                        <li>
                            Powerful CRM & client portal integration
                        </li>
                        <li>
                            Ready-made Copy Trading & PAMM
                        </li>
                        <li>
                            Scalable multi-level IB system
                        </li>
                        <li>
                            Social media design & integration
                        </li>
                    </ul>
                </div>
                <div class="service">
                    <img src="./images/about-us/offer/3.jpg" alt="All your payment and trading solutions in one place">
                    <h4 class="service-label">Payments & Processing </h4>
                    <h3>All your payment and trading solutions in one place</h3>
                    <ul class="list-reset">
                        <li>
                            PSP integration for card &  payments
                        </li>
                        <li>
                            Crypto and fiat payment options
                        </li>
                        <li>
                            MT5 license application and setup
                        </li>
                        <li>
                            FIX API bridge to liquidity providers
                        </li>
                        <li>
                            Market data & real-time feeds
                        </li>
                    </ul>
                </div>
            </div>
            <a href="#" class="btn-reset btn-main">
                More offers
            </a>
        </div>
    </section>
    <section class="section about-company about-philosophy">
        <div class="wrapper">
            <div class="about-company__container">
                <img src="./images/about-us/philosophy/main.jpg" alt="Our Philosophy">
                <div class="content">
                    <h3 class="title">
                        Our Philosophy
                    </h3>
                    <p>
                        The world is changing — and business must stay adaptable. We believe in transparency, confidentiality, personalized service, and technological excellence. You’re not just a client — you’re our long-term partner.
                        <br><br>
                        Our mission is to give you maximum freedom in choosing the right jurisdiction, technology, and strategy — while ensuring a strong legal foundation and the highest level of asset protection.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section why-choose-us">
        <div class="wrapper">
            <span class="section-label">
                OUR ADVANTAGE
            </span>
            <h2 class="section-title">
                Why Choose Us
            </h2>
            <div class="why-choose-us__container">
                <div class="item">
                    <img src="./images/about-us/why-choose-us/1.png" alt="Global expertise">
                    <h3>Global expertise</h3>
                    <p>
                        Over 10 years of experience in forex, fintech, and offshore company formation.
                    </p>
                </div>
                <div class="item">
                    <img src="./images/about-us/why-choose-us/2.png" alt="All-in-One Solutions">
                    <h3>All-in-One Solutions</h3>
                    <p>
                        From legal setup to trading platform, banking, and marketing — everything in one place.
                    </p>
                </div>
                <div class="item">
                    <img src="./images/about-us/why-choose-us/3.png" alt="Confidential & Compliant">
                    <h3>Confidential & Compliant</h3>
                    <p>
                        We ensure data protection, legal clarity, and adherence to international standards.
                    </p>
                </div>
                <div class="item">
                    <img src="./images/about-us/why-choose-us/4.png" alt="24/7 Expert Support">
                    <h3>24/7 Expert Support</h3>
                    <p>
                        Responsive communication and personalized guidance at every stage of your journey.
                    </p>
                </div>
                <div class="item">
                    <img src="./images/about-us/why-choose-us/5.png" alt="Digital-First Approach">
                    <h3>Digital-First Approach</h3>
                    <p>
                        Smart tools, modern interfaces, & automation to save time and boost performance.
                    </p>
                </div>
                <div class="item">
                    <img src="./images/about-us/why-choose-us/6.png" alt="Tailored Strategy">
                    <h3>Tailored Strategy</h3>
                    <p>
                        No one-size-fits-all: we build around your goals and jurisdictional needs.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-business">
        <div class="wrapper">
            <h2 class="title">
                Ready to elevate your business?
            </h2>
            <p>
                Whether you're looking to start a company, obtain a license, or simply explore the complexities of the global forex business — we’re here for you.
            </p>
            <a href="#" class="btn-reset btn-main">
                Start your Brokerage
            </a>
            <img src="./images/about-us/business/main.jpg" alt="Ready to elevate your business?">
        </div>
    </section>
</div>
