<div class="page-contact-us">
    <section class="main-screen">
        <div class="wrapper">
            <div class="main-screen__container">
                <div class="main-screen__left">
                    <h1 class="title">
                        Start Your Brokerage Journey with Us
                    </h1>
                    <p class="text">
                        Expert guidance from the first step to full execution
                    </p>
                    <a href="#" class="btn-reset btn-main">
                        Start your Brokerage
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section contact-form">
        <div class="wrapper">
            <span class="section-label">
                GET IN TOUCH
            </span>
            <h2 class="section-title">
                Let’s level up your brand, together
            </h2>
            <p>
                We offer a full-stack infrastructure to launch and run your brokerage
                You can reach us anytime via hello@brokersetup.com
            </p>
            <form class="form u-form" id="uForm_2" action="#" enctype="multipart/form-data" method="POST">
                <input class="uForm__extended" name="nospam" type="text" value="uform-empty" required="">
                <input class="uForm__extended" name="Текст" type="hidden" value="Schedule a call from BrokenSetup Contact Us Page">
                <div class="uForm__error-msg" id="uForm__error-msg_2"></div>
                <div class="form-group">
                    <label>YOUR NAME</label>
                    <input class="form__input form-control" id="name2" type="text" name="name" placeholder="Full Name" required="">
                </div>
                <div class="form-group">
                    <label>YOUR EMAIL</label>
                    <input id="email2" class="form__input form-control" name="email2" type="email" placeholder="you@company.com">
                </div>
                <div class="form-group">
                    <label>Services YOU ARE LOOKING FOR...</label>
                    <div class="form-checkboxes">
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-1"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-1"
                                value="Start a Brokerage"
                            >
                            <span>Start a Brokerage</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-2"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-2"
                                value="Project Consultation"
                            >
                            <span>Project Consultation</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-3"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-3"
                                value="Start a Prop Firm"
                            >
                            <span>Start a Prop Firm</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-4"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-4"
                                value="Project Development"
                            >
                            <span>Project Development</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-5"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-5"
                                value="Start a Casino"
                            >
                            <span>Start a Casino</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-6"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-6"
                                value="Partnership"
                            >
                            <span>Partnership</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-7"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-7"
                                value="Payment Processing"
                            >
                            <span>Payment Processing</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-8"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-8"
                                value="Emergence Help"
                            >
                            <span>Emergence Help</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-9"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-9"
                                value="Banking"
                            >
                            <span>Banking</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-10"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-10"
                                value="LP Deal"
                            >
                            <span>LP Deal</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-11"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-11"
                                value="Dealing Desk"
                            >
                            <span>Dealing Desk</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-12"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-12"
                                value="IB %-Deal"
                            >
                            <span>IB %-Deal</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-13"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-13"
                                value="Dealing Desk"
                            >
                            <span>Broker Management</span>
                        </label>
                        <label class="form-checkbox">
                            <input
                                id="uForm__checkbox-14"
                                type="checkbox"
                                class="form__checkbox visually-hidden"
                                name="checkbox-14"
                                value="Collaborate & Network"
                            >
                            <span>Collaborate & Network</span>
                        </label>
                    </div>
                </div>
                <div class="form-group ">
                    <label>TELL US MORE</label>
                    <textarea class="form__input form-control" id="comment2" name="comment" placeholder="Tell us a little about the project..."></textarea>
                </div>
                <div class="form-group">
                    <label>YOUR TELEGRAM OR WHATSAPP</label>
                    <input type="hidden" name="full_phone" id="fullPhone2">
                    <input class="form__input form-control" id="phone2" type="tel" name="phone" placeholder="Enter your phone" required>
                </div>
                <button id="uForm__submit_2" class="btn-reset btn-main" type="submit">
                    Submit
                    <div id="uForm__preload_2" class="uForm__preload"></div>
                </button>
            </form>
        </div>
    </section>
</div>
