<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <div class="socials">
                <a href="https://www.facebook.com/brokersetup" target="_blank" class="socials__link">
                    <svg class="icon">
                        <use href="./images/sprite.svg#facebook"></use>
                    </svg>
                </a>
                <a href="https://www.instagram.com/brokersetup" target="_blank" class="socials__link">
                    <svg class="icon">
                        <use href="./images/sprite.svg#instagram"></use>
                    </svg>
                </a>
                <a href="https://www.linkedin.com/company/broker-setup" target="_blank" class="socials__link">
                    <svg class="icon">
                        <use href="./images/sprite.svg#linkedin"></use>
                    </svg>
                </a>
                <a href="https://www.youtube.com/@brokersetup" target="_blank" class="socials__link">
                    <svg class="icon">
                        <use href="./images/sprite.svg#youtube"></use>
                    </svg>
                </a>
            </div>
            <nav class="nav">
                <ul>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">Cookie Policy</a>
                    </li>
                </ul>
            </nav>
            <strong class="copyright">
                ©BrokerSetup 2025
            </strong>
        </div>
    </div>
</footer>
