<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <nav class="nav">
                <ul>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">Cookie Policy</a>
                    </li>
                </ul>
            </nav>
            <strong class="copyright">
                ©BrokerSetup 2025
            </strong>
        </div>
    </div>
</footer>
