<div class="page-forex-crm">
    <section class="main-screen">
        <div class="wrapper">
            <div class="main-screen__container">
                <div class="main-screen__left">
                    <h1 class="title">
                        The Core of Every Successful Brokerage
                    </h1>
                    <p class="text">
                        Automate operations, manage traders, and grow faster with our Forex CRM and Client Portal.
                    </p>
                    <a href="#" class="btn-reset btn-main">
                        Start your Brokerage
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section client-portal">
        <div class="wrapper">
            <div class="client-portal__container">
                <div class="content">
                    <span class="section-label">
                        CRM & Client Portal
                    </span>
                    <h2 class="section-title">
                        It’s your broker’s control center
                    </h2>
                    <p class="section-text">
                        A Forex CRM is a centralized system that helps brokers manage
                        leads, clients, trading accounts, and IB networks with efficiency
                        and accuracy.
                        <br><br>
                        The Client Portal provides traders with a secure personal space
                        to complete KYC, verify accounts, make deposits, and track their trading activity.
                        <br><br>
                        Together, they create a seamless, professional, and automated environment for running your Forex brokerage.
                    </p>
                    <a href="#" class="btn-reset btn-main">
                        Start your Brokerage
                    </a>
                </div>
                <img src="./images/forex-crm/portal/desktop.png" alt="CRM & Client Portal">
            </div>
        </div>
    </section>
    <section class="section benefits">
        <div class="wrapper">
            <span class="section-label">
                Benefits
            </span>
            <h2 class="section-title">
                Why Brokers Use It
            </h2>
            <div class="benefits__container">
                <div class="item">
                    <div class="icon">
                        <img src="./images/forex-crm/benefits/1.svg" alt="RefAutomated Workflows">
                    </div>
                    <h3>
                        Automated Workflows
                    </h3>
                    <p>
                        Save hours of manual tasks with automated onboarding, KYC, and reporting.
                    </p>
                    <a href="#">
                        Get Started
                    </a>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./images/forex-crm/benefits/2.svg" alt="Client Transparency">
                    </div>
                    <h3>
                        Client Transparency
                    </h3>
                    <p>
                        Give traders full visibility into their accounts, balances, and activity history.
                    </p>
                    <a href="#">
                        Get Started
                    </a>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./images/forex-crm/benefits/3.svg" alt="Partner Network Control">
                    </div>
                    <h3>
                        Partner Network Control
                    </h3>
                    <p>
                        Manage multi-level IBs and monitor performance in real time.
                    </p>
                    <a href="#">
                        Get Started
                    </a>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./images/forex-crm/benefits/4.svg" alt="Data-Driven Insights">
                    </div>
                    <h3>
                        Data-Driven Insights
                    </h3>
                    <p>
                        Access clear analytics to understand client behavior and optimize business decisions.
                    </p>
                    <a href="#">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section key-features">
        <div class="wrapper">
            <div class="key-features__container">
                <div class="item">
                    <h3 class="section-title">
                        Key Features You’ll Love
                    </h3>
                    <p class="section-text">
                        Powerful tools designed to simplify daily brokerage operations and enhance team performance.
                    </p>
                    <ul class="list-reset">
                        <li>
                            Trading Platform Integration (MT4/MT5)
                        </li>
                        <li>
                            Multi-Level IB System
                        </li>
                        <li>
                            KYC & Compliance Tools
                        </li>
                        <li>
                            Reports & Analytics Dashboard
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <h3 class="section-title">
                        Technology That Drives Growth
                    </h3>
                    <p class="section-text">
                        Essential modules that keep your brokerage secure, connected, and always in control.
                    </p>
                    <ul class="list-reset">
                        <li>
                            Payment Gateway Integration
                        </li>
                        <li>
                            Built-in Messaging & Notifications
                        </li>
                        <li>
                            Role-Based Access for Teams
                        </li>
                        <li>
                            24/7 Technical Support
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section ready-banner ready-banner--order">
        <div class="wrapper">
            <div class="ready-banner__container">
                <h2 class="title">
                    Ready to Start<br> your Forex Broker?
                </h2>
                <div class="ready__wrap">
                    <p>
                        Contact our team — we’ll be happy to help
                    </p>
                    <button data-graph-path="modalForm" type="button" class="btn-reset btn-main btn-icon">
                        Schedule a Call
                        <div class="icon">
                            <img src="./images/icon/arrow-narrow.svg" alt="arrow narrow">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="section tips">
        <div class="wrapper">
            <span class="section-label">FAQs</span>
            <h2 class="section-title">
                Frequently asked questions
            </h2>
            <ul class="tricks list-reset">
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            What is Forex CRM and why do I need it?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        A Forex CRM helps brokers manage clients, leads, and IB networks in one place. It automates onboarding, KYC, and reporting — saving time and reducing manual work.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Can I integrate it with MT5?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Yes. Our CRM supports full integration with MT4 and MT5, synchronizing client accounts, trades, and balances in real time.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Is the Client Portal branded for my company?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Absolutely. The Client Portal is a fully white-label solution — we’ll create a custom design in your corporate style that highlights the uniqueness of your brand.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Is client data secure?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Yes. All data is encrypted and hosted on secure servers that comply with international data protection standards (GDPR).
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            What kind of support do you offer?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        We provide 24/7 technical and onboarding support, with dedicated account managers available for premium clients.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Can the CRM manage multiple brands or brokerages?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Yes. Our multi-tenant setup allows you to manage several brands or entities under one CRM, with separate data and permissions for each.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Does it include a partner or IB system?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Yes. The built-in multi-level IB module tracks c
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Can I connect my own payment providers?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Of course. The system supports integration with most major PSPs and custom APIs for deposits, withdrawals, and transfers.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Is the CRM cloud-based or self-hosted?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        You can choose either option. Most clients prefer our secure cloud solution, but on-premise hosting is also available upon request.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            How often is the system updated?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        We release regular updates with performance improvements, new integrations, and security patches — all included in your plan.
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
