<div class="page-brandbook page-metatrader">
    <section class="main-screen">
        <div class="wrapper">
            <div class="main-screen__container">
                <h1 class="title">
                    The World’s Leading Multi-Asset Platform
                </h1>
                <p class="text">
                    From initial documentation to final deployment, BrokerSetup ensures your MT5 license is approved and your platform runs flawlessly.
                </p>
                <form class="form u-form" id="uForm_3" action="#" enctype="multipart/form-data" method="POST">
                    <input class="uForm__extended" name="nospam" type="text" value="uform-empty" required="">
                    <input class="uForm__extended" name="Текст" type="hidden" value="Schedule a call from BrokenSetup Brandbook & Branded Gifts">
                    <div class="uForm__error-msg" id="uForm__error-msg_3"></div>
                    <div class="form-group">
                        <input type="hidden" name="full_phone" id="fullPhone3">
                        <input class="form__input form-control" id="phone3" type="tel" name="phone" placeholder="+(971) Enter your Phone" required>
                    </div>
                    <button id="uForm__submit_2" class="btn-reset btn-main" type="submit">
                        Schedule a Call
                        <div id="uForm__preload_2" class="uForm__preload"></div>
                    </button>
                </form>
            </div>
        </div>
    </section>
    <section class="design">
        <div class="wrapper">
            <div class="design__container">
                <div class="content">
                    <h2 class="section-title">
                        What is MetaTrader 5?
                    </h2>
                    <p class="section-text">
                        MetaTrader 5 (MT5) is a multi-asset trading platform widely used by brokers and traders worldwide. Developed by MetaQuotes Software, it supports real-time trading across global markets with a strong focus on stability, security, and performance.
                        <br><br>
                        For brokers, MT5 serves as a reliable and scalable foundation
                        for delivering a smooth trading experience, managing high volumes, and building a complete trading environment.
                    </p>
                    <a href="#" class="btn-reset btn-main">
                        Start your Brokerage
                    </a>
                </div>
                <picture>
                    <source
                        srcset="./images/mt5/about/tablet.jpg"
                        media="(max-width: 1024px)"
                    >
                    <img
                        src="./images/mt5/about/desktop.jpg"
                        alt="What is MetaTrader 5?"
                        loading="lazy"
                    >
                </picture>
            </div>
        </div>
    </section>
    <section class="section about-works">
        <div class="wrapper">
            <span class="section-label">
                HOW IT WORKS
            </span>
            <h2 class="section-title">
                MT5 License Application Made Simple
            </h2>
            <div class="content">
                <p class="section-text">
                    Obtaining a MetaTrader 5 license involves strict MetaQuotes requirements and ongoing compliance checks. The process requires accuracy, preparation, and careful coordination at every stage.
                    <br><br>
                    BrokerSetup handles the full licensing workflow, from initial application and documentation through approval, platform setup, and post-launch support.
                </p>
                <div class="section-text">
                    We partner closely with MetaQuotes and other key stakeholders to guarantee that documentation is precisely prepared and
                    all compliance obligations are fulfilled in a timely manner.
                    <br><br>
                    This enables your firm to operate seamlessly while we manage
                    the entire regulatory approval process from beginning to end.
                </div>
            </div>
            <picture>
                <source
                    srcset="./images/mt5/how-works/tablet.jpg"
                    media="(max-width: 1024px)"
                >
                <img
                    src="./images/mt5/how-works/desktop.jpg"
                    alt="HOW IT WORKS"
                    loading="lazy"
                >
            </picture>
            <a href="#" class="btn-reset btn-main">
                Start your Brokerage
            </a>
        </div>
    </section>
    <section class="section app-package">
        <div class="wrapper">
            <h2 class="section-title">
                MetaTrader 5 License Application Package
            </h2>
            <p class="section-text">
                Comprehensive support from documentation to platform deployment — designed for brokers ready to scale.
            </p>
            <div class="app-package__container">
                <div class="flex-top">
                    <div class="name">
                        <h3>
                            MetaTrader 5 License Application Package
                        </h3>
                        <strong>
                            $3,000
                        </strong>
                    </div>
                    <a href="#" class="btn-reset btn-main">
                        Get Started
                    </a>
                </div>
                <ul class="list-reset">
                    <li>
                        MT5 Licensing & Coordination
                    </li>
                    <li>
                        Broker Configuration & Risk Management
                    </li>
                    <li>
                        CRM & Payment Systems Integration
                    </li>
                    <li>
                        Testing & Optimization
                    </li>
                    <li>
                        Server Architecture & Hosting Setup
                    </li>
                    <li>
                        Ongoing Technical Support & Maintenance
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section process">
        <div class="wrapper">
            <span class="section-label">
                Our Expert Process
            </span>
            <h2 class="section-title">
                Full-Cycle Support — From Application to Launch
            </h2>
            <p class="section-text">
               We handle every step of your MetaTrader 5 licensing and setup
            </p>
            <ul class="list-reset process__container">
                <li>
                    <h4>
                        MT5 License Application & MetaQuotes Coordination
                    </h4>
                    Full documentation preparation and licensing process
                    management on your behalf.
                </li>
                <li>
                    <h4>
                        Broker Configuration & Risk Management
                    </h4>
                    Setting up accounts, trading instruments, liquidity,
                    and dealing parameters efficiently.
                </li>
                <li>
                    <h4>
                        Server Architecture & Hosting Setup
                    </h4>
                    Secure, scalable, and high-performance MT5 infrastructure configured for growth.
                </li>
                <li>
                    <h4>
                        Testing & Optimization
                    </h4>
                    Multi-level performance, compliance, and stability testing
                    to ensure flawless system operation.
                </li>
                <li>
                    <h4>
                        Integration with CRM, Trader’s Room & Payment Gateways
                    </h4>
                    Seamless connection between systems for smooth client operations.
                </li>
                <li>
                    <h4>
                        Ongoing Technical Support & Maintenance
                    </h4>
                    Continuous updates, monitoring, and system improvements
                    for secure operation.
                </li>
            </ul>
        </div>
    </section>
    <section class="section ready-banner">
        <div class="wrapper">
            <div class="ready-banner__container">
                <h2 class="title">
                    Start Your MT5 Licensing Journey Today
                </h2>
                <div class="ready-banner__wrap">
                    <p>
                        Let our experts handle the entire process — from application to approval. With BrokerSetup, you get a fully operational MetaTrader 5 setup ready for trading and growth.
                    </p>
                    <button data-graph-path="modalForm" type="button" class="btn-reset btn-main btn-icon">
                        Schedule a Call
                        <div class="icon">
                            <img src="./images/icon/arrow-narrow.svg" alt="arrow narrow">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="section why-choose">
        <div class="wrapper">
            <div class="why-choose__container">
                <div class="content">
                    <h2 class="section-title">
                        Why Choose BrokerSetup
                    </h2>
                    <p class="section-text">
                        We bring together design, regulation expertise, and fintech innovation to build high-performing broker platforms.
                        Our clients launch faster, scale globally, and retain traders longer.
                    </p>
                </div>
                <ul class="list-reset">
                    <li class="item">
                        <div class="item__top">
                            <strong>10+</strong>
                            <span>years of experience</span>
                        </div>
                        More than a decade assisting brokers with MT5 licensing, infrastructure setup, and full operational readiness.
                    </li>
                    <li class="item">
                        <div class="item__top">
                            <strong>0 %</strong>
                            <span>REJECTION RATE</span>
                        </div>
                        Over 150 MT5 license applications approved
                        by MetaQuotes — a flawless record of trust
                        and expertise.
                    </li>
                    <li class="item">
                        <div class="item__top">
                            <strong>98%</strong>
                            <span>CLIENT RETENTION RATE</span>
                        </div>
                        Long-term partnerships built on transparency, reliability, and consistent performance from
                        start to scale.
                    </li>
                    <li class="item">
                        <div class="item__top">
                            <strong>150+</strong>
                            <span>MT5 Integrations</span>
                        </div>
                        Seamless setup and integrations with trading systems, CRMs, and payment gateways for brokers worldwide.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section ready-section">
        <div class="wrapper">
            <h2 class="section-title">
                Ready to elevate your business?
            </h2>
            <p class="section-text">
                Whether you're looking to start a company, obtain a license, or simply explore the complexities of the global forex business — we’re here for you.
            </p>
            <a href="#" class="btn-reset btn-main">
                Start your Brokerage
            </a>
            <picture>
                <source
                    srcset="./images/mt5/ready/mobile.jpg"
                    media="(max-width: 768px)"
                >
                <img
                    src="./images/mt5/ready/desktop.jpg"
                    alt="Ready to elevate your business?"
                    loading="lazy"
                >
            </picture>
        </div>
    </section>
</div>
