<div class="page-pamm">
    <section class="main-screen">
        <div class="wrapper">
            <div class="main-screen__container">
                <h1 class="title">
                    Empower Your Brokerage with Built-In PAMM & MAM Solutions
                </h1>
                <p class="text">
                    Seamless investor management inside one CRM.
                </p>
                <a href="#" class="btn-reset btn-main">
                    Start your Brokerage
                </a>
            </div>
        </div>
    </section>
    <div class="page-forex-crm">
        <section class="section benefits">
            <div class="wrapper">
                <span class="section-label">
                    Benefits
                </span>
                <h2 class="section-title">
                    Why Brokers Choose Our PAMM & MAM
                </h2>
                <div class="benefits__container">
                    <div class="item">
                        <div class="icon">
                            <img src="./images/pamm/benefits/1.svg" alt="Integrated PAMM/MAM Solutions">
                        </div>
                        <h3>
                            Integrated PAMM/MAM Solutions
                        </h3>
                        <p>
                            Our PAMM and MAM solutions are fully integrated with the CRM and guarantee smooth and consistent operations.
                        </p>
                        <a href="#">
                            Get Started
                        </a>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="./images/pamm/benefits/2.svg" alt="Seamless System Management">
                        </div>
                        <h3>
                            Seamless System Management
                        </h3>
                        <p>
                            We help brokers launch, configure, and manage these systems — no third-party tools or complex setup required.
                        </p>
                        <a href="#">
                            Get Started
                        </a>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="./images/pamm/benefits/3.svg" alt="Brokerage Model Guidance">
                        </div>
                        <h3>
                            Brokerage Model Guidance
                        </h3>
                        <p>
                            Our experts guide you in choosing the right model for your brokerage and handle the entire integration process.
                        </p>
                        <a href="#">
                            Get Started
                        </a>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="./images/pamm/benefits/4.svg" alt="Dedicated Technical Support">
                        </div>
                        <h3>
                            Dedicated Technical Support
                        </h3>
                        <p>
                            We provide technical support and ensure a smooth setup tailored to your business needs.
                        </p>
                        <a href="#">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="page-brandbook">
        <section class="design">
            <div class="wrapper">
                <div class="design__container">
                    <div class="content">
                        <span class="section-label">
                            What is a PAMM Account
                        </span>
                        <h2 class="section-title">
                            PAMM — Complex, Scalable, and Fully Automated
                        </h2>
                        <p class="section-text">
                            PAMM (Percent Allocation Management Module) is a sophisticated investment management model designed for large-scale operations
                            <br><br>
                            Investor funds are pooled in one master account managed
                            by a trader. The system tracks trades and distributes results
                            by each investor’s share.
                        </p>
                        <a href="#" class="btn-reset btn-main">
                            Start your Brokerage
                        </a>
                    </div>
                    <img src="./images/pamm/account/desktop.jpg" alt="What is a PAMM Account">
                </div>
            </div>
        </section>
    </div>
    <section class="section why-pamm">
        <div class="wrapper">
            <h2 class="section-title">
                Why PAMM Is More Advanced
            </h2>
            <p class="section-text">
                By combining investor funds into a single master account, PAMM guarantees accurate distribution, clear reporting, and improved operational control for brokers.
            </p>
            <div class="why-pamm__container">
                <div class="item">
                    <h3>
                        Pooled Investment Structure
                    </h3>
                    <p>
                        Full documentation preparation
                        and licensing process management
                        on your behalf.
                    </p>
                </div>
                <div class="item">
                    <h3>
                        Automated Profit Distribution
                    </h3>
                    <p>
                        The system ensures accuracy and total transparency by automatically allocating profits and losses by share.
                    </p>
                </div>
                <div class="item">
                    <h3>
                        Enhanced Infrastructure
                    </h3>
                    <p>
                        Designed for high-volume brokerage operations, includes risk controls, reporting and full investor oversight.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="page-brandbook">
        <section class="design section-padding-top">
            <div class="wrapper">
                <div class="design__container">
                    <img src="./images/pamm/account/desktop-2.jpg" alt="What is a MAM Account">
                    <div class="content">
                        <span class="section-label">
                            What is a MAM Account
                        </span>
                        <h2 class="section-title">
                            MAM — Simple, Flexible,<br> Fast to Deploy
                        </h2>
                        <p class="section-text">
                            MAM (Multi-Account Manager) allows a trader to manage multiple client accounts simultaneously through a single trading platform.
                            Instead of pooling funds, each investor keeps a separate account, while all trades from the master account are instantly copied
                            to connected accounts.
                        </p>
                        <a href="#" class="btn-reset btn-main">
                            Start your Brokerage
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="section why-pamm">
        <div class="wrapper">
            <h2 class="section-title">
                Why MAM Is More Flexible
            </h2>
            <p class="section-text">
                MAM lets brokers manage multiple accounts with full control —<br> fast, simple, and separate.
            </p>
            <div class="why-pamm__container">
                <div class="item">
                    <h3>
                        Independent Account Structure
                    </h3>
                    <p>
                        Each investor keeps a separate account, allowing full transparency and individual risk control.
                    </p>
                </div>
                <div class="item">
                    <h3>
                        Instant Trade Replication
                    </h3>
                    <p>
                        All trades executed on the master account are automatically copied to connected accounts in real time.
                    </p>
                </div>
                <div class="item">
                    <h3>
                        Fast Setup & Easy Management
                    </h3>
                    <p>
                        MAM systems deploy quickly, set up easily, and need less infrastructure than PAMM.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="page-forex-crm">
        <section class="section ready-banner ready-banner--order">
            <div class="wrapper">
                <div class="ready-banner__container">
                    <h2 class="title">
                        Ready to Start<br> your Forex Broker?
                    </h2>
                    <div class="ready__wrap">
                        <p>
                            Contact our team —<br> we’ll be happy to help
                        </p>
                        <button data-graph-path="modalForm" type="button" class="btn-reset btn-main btn-icon">
                            Schedule a Call
                            <div class="icon">
                                <img src="./images/icon/arrow-narrow.svg" alt="arrow narrow">
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
