<div class="page-roadmap">
    <section class="main-screen">
        <div class="wrapper">
            <div class="main-screen__container">
                <div class="main-screen__left">
                    <h1 class="title">
                        Your Roadmap <br>
                        to a Successful Brokerage
                    </h1>
                    <p class="text">
                        A clear step-by-step plan to launch faster, smarter,and without costly mistakes.
                    </p>
                    <a href="#" class="btn-main">
                        Get Your Roadmap
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section about-roadmap">
        <div class="wrapper">
            <span class="section-label">
                ABOUT THE ROADMAP
            </span>
            <h2 class="section-title">
                Brokerage Strategy & Roadmapping
            </h2>
            <div class="about-roadmap__container">
                <div class="item">
                    <h3>
                        Your reliable path to building a brokerage company: from idea to successful launch
                    </h3>
                    <p>
                        We understand that starting a brokerage business is a serious and complex process. It’s crucial to clearly see every stage, understand the timelines, resources, and risks — so you don’t waste extra money, time, or energy.
                        <br><br>
                        With our extensive experience, we’ve helped many clients build their businesses from scratch and avoid critical mistakes. With us, you gain transparency, a clear action plan, and a confident start.
                    </p>
                    <img src="./images/roadmap/about/1.jpg" alt="ABOUT THE ROADMAP">
                </div>
                <div class="item">
                    <img src="./images/roadmap/about/2.jpg" alt="ABOUT THE ROADMAP">
                    <h3>
                        Clarity, Strategy & Growth
                    </h3>
                    <p>
                        Broker Growth Roadmap is your step-by-step guide to not only launching but also scaling a brokerage. It’s your Roadmap to Success — a clear vision of how to build a profitable, sustainable company.
                        With the right strategy, you’ll know exactly what to do next.
                        <br><br>
                        Start your brokerage journey with a clear plan — schedule your Roadmap call today.
                    </p>
                    <a href="#" class="btn-reset btn-main">
                        Schedule а Call
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section roadmap-steps">
        <div class="wrapper">
            <div class="roadmap-steps__top">
                <div class="roadmap-steps__top-titles">
                    <span class="section-label">
                        ROADMAP HIGHLIGHTS
                    </span>
                    <h2 class="section-title">
                        Key Steps of Your Roadmap
                    </h2>
                </div>
                <p class="section-text">
                    Here are just a few steps from the full RoadMap. In practice, your personalized plan will include many more stages — each tailored to your vision, resources, and market specifics.
                </p>
            </div>
            <div class="steps-container">
                <ul class="list-reset steps">
                    <li>
                        <svg class="icon icon--step-1">
                            <use href="./images/sprite.svg#large-arrow"></use>
                        </svg>
                        <span>Step 1</span>
                        <p>Naming</p>
                    </li>
                    <li>
                        <svg class="icon icon--step-2">
                            <use href="./images/sprite.svg#large-arrow"></use>
                        </svg>
                        <span>Step 2</span>
                        <p>Trading Server Availability</p>
                    </li>
                    <li>
                        <svg class="icon icon--step-3">
                            <use href="./images/sprite.svg#large-arrow"></use>
                        </svg>
                        <span>Step 3</span>
                        <p>Domain Purchase</p>
                    </li>
                    <li>
                        <svg class="icon icon--step-4">
                            <use href="./images/sprite.svg#large-arrow"></use>
                        </svg>
                        <span>Step 4</span>
                        <p>Logo & Brandbook</p>
                    </li>
                    <li>
                        <svg class="icon icon--step-5">
                            <use href="./images/sprite.svg#large-arrow"></use>
                        </svg>
                        <span>Step 5</span>
                        <p>Website</p>
                    </li>
                </ul>
            </div>
            <div class="roadmap-group">
                <a href="#" class="item">
                    <span>Timeline: ~1 Day</span>
                    <h3>Naming</h3>
                    <p>
                        We create a brand name that reflects your business vision and meets the highest industry standards — unique, memorable, and compliant with your target markets.
                    </p>
                    <button type="button" class="btn-reset btn-main">
                        <img src="./images/icon/arrow-narrow.svg" alt="icon arrow">
                    </button>
                </a>
                <a href="#" class="item">
                    <span>Timeline: ~1 Day</span>
                    <h3>Trading Server Availability</h3>
                    <p>
                        We guide you through selecting reliable trading servers with the right capacity, speed, and global coverage, ensuring stability and smooth execution for your clients.
                    </p>
                    <button type="button" class="btn-reset btn-main">
                        <img src="./images/icon/arrow-narrow.svg" alt="icon arrow">
                    </button>
                </a>
                <a href="#" class="item">
                    <span>Timeline: ~1 Day</span>
                    <h3>Domain Purchase</h3>
                    <p>
                        The right domain is key to your online presence. We’ll help you secure a short, brand-aligned domain that builds trust and is convenient for clients.
                    </p>
                    <button type="button" class="btn-reset btn-main">
                        <img src="./images/icon/arrow-narrow.svg" alt="icon arrow">
                    </button>
                </a>
            </div>
            <a href="#"class="btn-main roadmap-unlock-link">
                Unlock Next Steps
            </a>
        </div>
    </section>
    <section class="section roadmap-prize">
        <div class="wrapper">
            <div class="roadmap-prize__container">
                <p>
                    Discover how to launch your brokerage
                    with&nbsp;a clear plan — and save from the very start
                </p>
                <h2>
                    Get your Personalized Roadmap for Just $2,000
                </h2>
                <button data-graph-path="modalForm" type="button" class="btn-reset btn-main btn-icon">
					Schedule a Call
                    <div class="icon">
                        <img src="./images/icon/arrow-narrow.svg" alt="arrow narrow">
                    </div>
				</button>
            </div>
        </div>
    </section>
    <section class="section why-choose">
        <div class="wrapper">
            <span class="section-label">
                OUR ADVANTAGE
            </span>
            <h2 class="section-title">
                Why Choose Us
            </h2>
            <div class="why-choose__container">
                <div class="item">
                    <div class="icon">
                        <img src="./images/roadmap/why-choose/1.svg" alt="Trusted Experience">
                    </div>
                    <h3>Trusted Experience</h3>
                    <p>
                        We’ve guided dozens of brokerage projects from idea to launch, helping clients avoid costly mistakes.
                    </p>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./images/roadmap/why-choose/2.svg" alt="Faster Time-to-Market">
                    </div>
                    <h3>Faster Time-to-Market</h3>
                    <p>
                        From legal setup to trading platform, banking, and marketing — all streamlined to help you launch faster and gain a competitive edge.
                    </p>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./images/roadmap/why-choose/3.svg" alt="Cost Efficiency">
                    </div>
                    <h3>Cost Efficiency</h3>
                    <p>
                        Smart planning and expert guidance help you save resources and invest only where it matters most.
                    </p>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./images/roadmap/why-choose/4.svg" alt="Compliance & Security">
                    </div>
                    <h3>Compliance & Security</h3>
                    <p>
                        We ensure your brokerage fully complies with regulations and operates on secure, reliable systems.
                    </p>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./images/roadmap/why-choose/5.svg" alt="Strategic Partnership">
                    </div>
                    <h3>Strategic Partnership</h3>
                    <p>
                        We stand by your side not just as consultants, but as partners supporting key decisions at every stage of your business growth.
                    </p>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="./images/roadmap/why-choose/6.svg" alt="Beyond the Launch">
                    </div>
                    <h3>Beyond the Launch</h3>
                    <p>
                        After your company is launched, we continue to support you with expert insights, strategies, and guidance for long-term success.
                    </p>
                </div>
            </div>
            <button data-graph-path="modalForm" type="button" class="btn-reset btn-main">
                Schedule a Call
            </button>
        </div>
    </section>
    <section class="section tips">
        <div class="wrapper">
            <span class="section-label">FAQs</span>
            <h2 class="section-title">
                Frequently asked questions
            </h2>
            <ul class="tricks list-reset">
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            What is a Brokerage Roadmap and why do I need it?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        A Roadmap is a strategic, step-by-step plan covering all key phases of building a brokerage — from naming and licensing to technology, branding, and launch. It saves time, resources, and helps avoid costly mistakes.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            How long does it take to receive my personalized Roadmap?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        After our initial consultation call, you’ll receive your tailored Roadmap within just a few days, complete with timelines, milestones, and expert recommendations.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Is the Roadmap the same for every client?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        No. Each Roadmap is fully customized to your vision, resources, and market, focusing only on the steps relevant to your business.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Does the Roadmap include costs and budget planning?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Yes. It provides clear estimates of costs and resources, helping you plan effectively and avoid unexpected expenses.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Can you help me implement the Roadmap after I receive it?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Absolutely. We not only deliver the plan but can also guide you through each step — from licensing and setup to launch and beyond.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            How is your Roadmap different from ready-made templates online?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Our Roadmap is tailored to your business. It takes into account your strategy, market, resources, and regulatory needs, while templates cannot provide the same level of precision and practical value.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Can I order a Roadmap only for specific phases (like licensing or marketing)?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Yes, we are flexible. You can request a full Roadmap or just the parts most relevant to your company.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            How does the Roadmap help minimize risks when launching a brokerage?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        We identify potential issues in advance and provide solutions, helping you avoid costly mistakes and ensuring a safer launch.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Is the Roadmap only for new companies, or can existing brokers benefit too?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        The Roadmap is valuable both for startups and for existing brokerages looking to scale, launch new products, or optimize operations.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Can the Roadmap be updated during the process?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Absolutely. The Roadmap is a flexible tool that can be adjusted as your goals, market conditions, or business priorities evolve.
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="section ready">
        <div class="wrapper">
            <div class="ready__container">
                <h2 class="title">
                    Ready to Start<br> your Forex Broker?
                </h2>
                <div class="ready__wrap">
                    <p>
                        Join the community of successfully launched forex brokers from around the globe.
                    </p>
                    <button data-graph-path="modalForm" type="button" class="btn-reset btn-main btn-icon">
                        Schedule a Call
                        <div class="icon">
                            <img src="./images/icon/arrow-narrow.svg" alt="arrow narrow">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
