@use "../../mixins/breakpoint";
@use "../../mixins/mini";
@use "../../mixins/content";

@include breakpoint.big-desktop {
    .header {
        padding: 24px 0;

        .logo-link {
            .logo {
                max-width: 200px;
            }
        }

        .nav {
            ul {
                li {
                    &.parent {
                        a {
                            padding-right: 24px;
                        }
                    }
                    a {
                        font-size: 18px;
                    }
                    &:not(:last-child) {
                        margin-right: 40px;
                    }
                }
            }
        }
        &__right {
            .btn-main {
                font-size: 16px;
                min-width: 125px;
                min-height: 52px;
            }
            // .languages {
            //     ul {
            //         width: 44px;
            //         height: 44px;
            //     }

            //     a {
            //         padding: 10px;
            //     }
            // }
        }

        .desktop-menu {
            .nav {
                > ul > li {
                    > a {
                        font-size: 32px;
                        margin-bottom: 40px;
                    }

                    ul {
                        gap: 30px 16px;

                        a {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint.small-desktop {
    .header {
        padding: 19px 0;

        .logo-link {
            .logo {
                max-width: 178px;
            }
        }
        &__right {
            // .languages {
            //     ul {
            //         width: 40px;
            //         height: 40px;
            //     }

            //     a {
            //         padding: 6px;
            //     }
            // }
        }
    }

    .header.active-scroll {
        padding: 16px 0;
    }
}

@include breakpoint.tablet {
    .header {
        padding: 22px 0;

        .logo-link {
            .logo {
                max-width: 183px;
            }
        }

        &__right {
            .btn-main {
                min-width: 129px;
                min-height: 46px;
                font-size: 14px;
                padding: 12px 20px;
            }
            // .languages {
            //     display: none;
            // }
        }
    }
}

@include breakpoint.small-tablet {
    .header {
        padding: 12px 0;

        .logo-link {
            .logo {
                max-width: 150px;
            }
        }
        .nav {
            ul {
                li {
                    a {
                        font-size: 16px;
                    }

                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }
        &__left {
            // .languages {
            //     ul  {
            //         width: 42px;
            //         height: 42px;

            //         a {
            //             padding: 7px;
            //         }
            //     }
            // }
        }

        &__right {
            .btn-main {
                min-width: 120px;
            }
        }

        .desktop-menu {
            &__container {
                padding-bottom: 58px;
            }

            .nav {
                > ul > li {
                    > a {
                        font-size: 28px;
                        padding-bottom: 2px;
                        margin-bottom: 48px;
                        border-bottom: 4px solid #e1e1e1;
                    }

                    ul {
                        grid-template-columns: repeat(2, 1fr);
                        gap: 20px;

                        a {
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }

    .header.active-scroll {
        padding: 10px 0;
    }
}

@include breakpoint.mobile {
    .header {
        padding: 17px 0;

        .logo-link {
            .logo {
                max-width: 139px;
            }
        }
        &__left {
            display: block;

            .burger {
                @include mini.flex-v-center;
                flex-direction: row;
                gap: 6px;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                color: var(--cs-text);
                padding: 15px 0;
            }
        }

        .nav {
            display: none;
        }

        .mobile-menu {
            &__content {
                padding: 30px 30px 47px;
            }

            &__top {
                .logo-link {
                    .logo {
                        display: block;
                    }
                }
            }

            .nav {
                > ul {
                    max-height: 80vh;
                    overflow-y: auto;
                }
                > ul > li {
                    &.parent {
                        > a {
                            padding-right: 40px;
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                width: 24px;
                                height: 24px;
                                background-image: url('../images/icon/arrow.svg');
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: auto;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                transition: all ease-in-out .4s;
                            }
                        }
                    }

                    a {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 150%;
                        letter-spacing: -0.02em;
                        color: var(--cs-text-3);

                        &:hover {
                            color: var(--cs-brand-6);
                        }
                    }

                    > a {
                        display: block;
                        max-width: fit-content;
                        font-weight: 700;
                        font-size: 24px;
                        margin-bottom: 34px;
                    }
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        ul {
                            display: none;
                            margin-bottom: 30px;
                        }

                        &.parent.active {
                            > a {
                                &::after {
                                    transform: translateY(-50%) rotate(180deg);
                                }
                            }
                            ul {
                                display: block;

                                li {
                                    &:not(:last-child) {
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .desktop-menu {
            display: none !important;
        }
    }
    .header.active-scroll {
        padding: 12px 0;
    }
}

@media (max-width: 360px) {
    .header {
        .logo-link {
            .logo {
                max-width: 120px;
                min-width: 120px;
            }
        }
        &__right {
            .btn-main {
                min-width: 100px;
                padding: 12px;
            }
        }

        .mobile-menu {
            &__container {
                width: 100%;
            }

            .logo-link {
                margin-right: inherit;
                margin-left: inherit;
            }
        }
    }
}
