// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Plus Jakarta Sans", sans-serif;
  --second-family: "Inter", sans-serif;
  --content-width: 1616px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --cs-violet-bright: #9970EC;
  --cs-violet-light: #B395F1;
  --cs-violet-lighter: #DBCCF8;
  --cs-bg-white: #F5F5F5;

  --cs-white: #fff;
  --cs-body-bg: var(--cs-white);
  --cs-brand-main: #7f56d9;
  --cs-brand-2: #9e77ed;
  --cs-brand-3: #b692f6;
  --cs-brand-4: #d6bbfb;
  --cs-brand-5: #e6d5fb;
  --cs-brand-light: #f7f0ff;
  --cs-bg-light: #F2F6FA;
  --cs-bg-light-2: #d1c9c9;
  --cs-bg-light-3: #f4f4f5;
  --cs-bg-light-4: #e5e5e5;
  --cs-bg-light-5: #efefef;
  --cs-bg-light-6: #f8f8f8;
  --cs-bg-light-7: #fbfbfb;
  --cs-bg-light-8: #f4f4f4;
  --cs-bg-light-9: #f4f5f5;
  --cs-bg-light-10: #fffcfc;
  --cs-text: #000;
  --cs-text-2: #040815;
  --cs-text-3: #212121;
  --cs-text-4: #596780;
  --cs-terms-link: #1a202c;
  --cs-error: #ffdada;
  --cs-success: #9cd323;
}
